<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>実績詳細画面</title>

    <link rel="stylesheet" href="/css/detail.css">

</head>
<body>
    <a th:href="@{/calendar}"
        class="calendar-back-button">カレンダーに戻る</a>

    <h2>実績詳細画面</h2>
    <p th:text="${date} + '     売上詳細'">販売詳細</p>

    <table>
        <thead>
        <tr>
            <th>銘柄</th>
            <th>JANコード</th>
            <th>販売本数</th>
            <th>売上</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${details}">
        <td th:text="${item.beerName}"></td>
        <td th:text="${item.janCode}"></td> <!-- 追加 -->
        <td th:text="${item.quantity}"></td>
        <td th:text="${#numbers.formatInteger(item.totalSales, 3, 'COMMA')} + ' 円'"></td>
    </tr>
        <tr class="total-row">
        <td colspan="3">合計売上:</td>
        <td th:text="${#numbers.formatInteger(totalAmount, 3, 'COMMA')} + ' 円'"></td>
    </tr>
        </tbody>
    </table>

</body>
</html>
